services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - FLASK_APP=app.py
    read_only: true
  redis:
    image: "redis:alpine"
    volumes:
      - redis_data:/data

volumes:
  redis_data: